*{
    margin: 0;
    padding: 0;
    
    
}
body {
    background-color: white;
}
.menu
{display: flex;
    font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
height: 70px;

}
.menu2{
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.menu5{
   
    align-items: center;
    display: flex;
    justify-content: center;
   text-align: center;
   width: 1500px;
}
.menu3{
    margin-right: 70px;
    font-size: 17px;
    color: black;

}
.menu4{
    display: flex;
    align-items: center;
    padding-right: 30px;
    background-color: rgb(55, 55, 55);
    color: white;
    font-style: italic;
    font-weight: 600;
    
    padding-left: 30px;
}
.menu3:hover{
    background-color: rgb(204, 204, 204);
    transition-duration: 0.5s;
    border-radius: 3px;
}
/*https://pbs.twimg.com/media/FisyPMmagAAmgnl?format=jpg&name=large
https://pbs.twimg.com/media/FiyB7JwaEAE2IHf?format=jpg&name=4096x4096
https://pbs.twimg.com/media/FiyCSEBaUAAIic2?format=jpg&name=4096x4096;
*/
.header1{
    background: linear-gradient(rgba(0 0 0 /0.3), rgba(0 0 0 /0.3)), url('https://pbs.twimg.com/media/FisyPMmagAAmgnl?format=jpg&name=large');
  color: white;
  margin-right: 0;
align-items: center;
background-position: right;
font-family:     'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
;background-size: cover;
display: flex;
justify-content: center;
height: 650px;
font-size: 90px;
    
}
#intro1{font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    padding-left: 50px;
    height: 94vh;

}
#intro{
   margin-top: 40px;
    font-size: 90px;
    line-height: 70px
    ;
    margin-left: 70px;
    position: absolute;
}
.intro2{
    font-weight: 400;
    transform: rotate(90deg);
    margin-top:150px;
    font-size: 20px;
    margin-left: -20px;
    margin-bottom: 100px;
   position: absolute;
    display: flex;
}
.intropic{
    
    
    mix-blend-mode: multiply;
    width: 51.5vw;
    height: 29vw;
    margin-left:70px;
    margin-top: 160px;
    object-fit: cover;
}

.intro3{
    
    margin-left: 56vw;
    font-size: 30px;
    margin-top :-340px; ;
    background-color: #3A443B;
    color: white;
    padding: 30px;
    margin-right: 70px;
    font-weight: 600;
}
.intro4{
    
    margin-left: 57vw;
    font-size: 20px;
    margin-top :-10px; ;

    
    padding: 20px;
    margin-right: 70px;
    font-weight: 400;
}
#work{
    text-align: right;
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    
    padding-top: 15px;

}
.work1{
    font-size: 90px;
    padding-right: 90px;
    line-height: 100px;
    padding-top: 20px;
   
}
.work2{
    font-size: 20px;
padding-right: 287px;
line-height: 0px;
    padding-bottom: 35px;
    padding-top: 5px;
}
.work3{
    text-align: left;
    padding-left: 40px;
    padding-top: 60px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.work5{
   text-align: left;
    position: absolute;
    padding-left: 80px;
    margin-top: -400px;

}
.work6{ 
    font-size: 45px;
    font-weight: 400;
    background-color: #3A443B;
    color: white;
    padding: 30px;
    mix-blend-mode: multiply;
   
}
.work7{
    
    padding-top: 20px;
    font-size: 20px;
    
}
.work8{
    border: 1px solid black;
    padding: 5px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    margin-top: 15px;
}

.work8:hover{
    background-color: rgb(204, 204, 204);
    transition-duration: 0.5s;
}


.work15{ width:61vw;
    height: 33.5vw;
    padding-top: 20px;
    mix-blend-mode: multiply;
    object-fit: cover;
    object-position: bottom;
    

}

#contact{
    
    
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    

    
    
}
.cont1{
    font-size: 90px;
    padding-left: 100px;
    padding-right: 90px;
    line-height: 100px;
    line-height: 70px;
    margin-top: 30px    ;
    
}
.cont2{
    padding-top:  50px;
    font-size: 20px;
    padding-left: 120px;
}

.contpic1{
    height: 101vh;
    width: 40.5vw;
    margin-left: 58.2vw;
    margin-top: -510px;
    display: flex;
    align-items: center;
    object-fit: cover;
    mix-blend-mode: multiply;
}


.cont30{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left:24vw;   

}
.cont33{
 font-size: 20px   ;
 
 margin-top: 50px;
 text-align: center;
 width: 67vw;
 height: 42.5vh;
 color: rgb(132, 132, 132);

}
.cont54{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cont56{
    background-color: #3A443B;
    color: white;
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 65vw;
    border-radius: 7px;
    margin-top: 20px;
    justify-content: center;
}
.cont56:hover{
    background-color: #677869;
    transition-duration: 0.5s;
}
.cont44{
    padding-top: 35px;
    margin-left: 10VW; 
    font-size: 30px;
}
.cont43{
    margin-left: 10VW; 
}

.cont55{
    text-align: right;
    margin-top: 75px;
    padding-right: 90px;
}
#aboutp1{
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}
.about3{
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.about2{
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
}
.about4{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;

}
.about5{
padding: 60px;  
font-family:     'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;  
}
.about6{
    font-weight: 200;
    padding-top: 1px;
    padding-bottom: 10px;
}
.photo1{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family:     'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;  

}
.photo11{
    height: 90vh;
    margin-top: 4px;
    padding-right: 150px;
}
.photo12{
    height: 90vh;
    margin-top: 4px;
    padding-left: 150px;
}
.photo2{
    display: flex;
    height: 100vh;
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;  
    align-items: center;
}
.photo13{
    width: 50vw;
    padding-right: 150px;
}
.photo{
    font-family:     'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;  
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;

}
.photo5{
    color: white;
}
.photo7{
    color: black;
}
.photo123{
    width: 70vw;
    padding-right: 50px;
}