*{
    margin: 0;
    padding: 0;
    background-color:white;
    
}
.menu
{display: flex;
    font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
height: 70px;
width: 100vw;

}
.menu2{
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.menu5{
   
    align-items: center;
    display: flex;
    justify-content: center;
    width:      1110px;
}
.menu3{
    margin-right: 70px;
    font-size: 17px;
    color: black;

}
.menu4{
    display: flex;
    align-items: center;
    padding-right: 30px;
    background-color: rgb(55, 55, 55);
    color: white;
    font-style: italic;
    font-weight: 600;
    
    padding-left: 30px;
}
.menu3:hover{
    background-color: rgb(204, 204, 204);
    transition-duration: 0.5s;
    border-radius: 3px;
}

.header1{
    background: linear-gradient(rgba(0 0 0 /0.5), rgba(0 0 0 /0.5)), url('https://pbs.twimg.com/media/FisyPMmagAAmgnl?format=jpg&name=large');
  color: white;
  margin-right: 0;
padding-bottom: 270px;
background-position: right;
font-family:      'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
;background-size: cover;
display: flex;
justify-content: center;
padding-top: 270px;
font-size: 90px;
    
}